.h1-color{
    color: orange;
}
.head-1{
    border-left: orangered solid;
    border-radius: 2px;
}
.back-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: orangered;
    border-radius: 5px;
    padding: 10px 10px;
    

}
body{
    font-family: 'Poppins', sans-serif;
    margin: 2%;
}
.head{
    width: 50%;
    padding-left: 5%;   
    padding-top: 5%;
}
.head-2{
    width: 50%;
    padding-left: 5%;
}
.head-2 img{
    width: 80%;
}

.one{
    display: flex;
    margin-bottom: 5px;
    
}
.middle{
   text-align: center;
}

.flaxable-section{
    display: flex;
    margin-bottom: 100px;
}
.four{
    width: auto;
    background-image: url(images/illustrators/illustrator-1.png);
    background-position-x: 25%;
    background-position-y: 25%;
    background-size: 50%;
    background-repeat: no-repeat;
    padding-block-start: 55%;
    background-color: cornflowerblue;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
}
.mi2{
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 20px;
}
