.h1-color{
    color: rgb(151, 81, 151);
}
.head-1{
    border-left: orangered solid;
    border-radius: 2px;

}
.back-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: orangered;
    border-radius: 5px;
    padding: 10px 10px;
    

}
body{
    font-family: 'Poppins', sans-serif;
    margin: 5%;
}
.head-img{
    size-adjust: 5px 5px;
    width: 5%;
    padding-left: 10px;
}